[submodule "src/stryderx_hardware"]
	path = src/stryderx_hardware
	url = ../stryderx_hardware.git
	branch = main
	fetchRecurseSubmodules = true
	ignore = dirty
[submodule "src/stryderx_bringup"]
	path = src/stryderx_bringup
	url = ../stryderx_bringup.git
	branch = main
	ignore = dirty
